
<html ng-app="custom-webapp-ui" lang="fa" style="background-color: Aqua">
  <head>
    <meta charset="UTF-8">
    <!-- Load the Telegram Library -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!--Load the AngularJS Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
      //initialize the AngularJS stuff...
      angular.module("custom-webapp-ui", []).controller('CustomUIController', function CustomUIController($scope) {
        //init our slider values that we will display
        $scope.foods = [
                { name: "چلوکباب کوبیده تک سیخ + برنج + نان داغ + مخلفات ۱۶۰", value: 0 },
                { name: "   چلوکباب کوبیده دو سیخ + برنج + نان داغ + مخلفات ۲۴۰", value: 0 },
                { name: "   چلوجوجه کباب مخصوص + برنج + نان داغ + مخلفات ۱۸۵     ", value: 0 },
                { name: "       چلوجوجه زعفرانی + برنج + نان داغ + مخلفات ۱۵۵ ", value: 0 } ,
                { name: "  چلوجوجه جنگلی + برنج + نان داغ + مخلفات ۱۶۵   "   , value :0 }  ,
                { name: " چلو جوجه مکزیکی : یک سیخ سینه مرغ + برنج +نان داغ+ مخلفات ۱۶۵ " , value :0 } ,
                { name: "   چلو جوجه لاری : یک سیخ ران مرغ + برنج +نان داغ+ مخلفات  ۱۶۵  " , value : 0} ,
                { name: "  چلوکباب وزیری : یک سیخ سینه مرغ + یک سیخ کوبیده + برنج +نان داغ+ مخلفات  ۲۸۰ " , value : 0 } ,
                { name: "  چلو کاسه کباب  : یک سیخ کوبیده + گوشت + جوجه  + برنج + قارچ + مخلفات  ۳۴۵"  , value : 0 }
            ];
        //initialize the button
        const mainButton = window.Telegram.WebApp.MainButton;
        mainButton.text = " ثبت سفارش و بازگشت به منوی اصلی";
        mainButton.enable();
        mainButton.show();
        // and make it send the "foods" object (as JSON string) back to the bot
        mainButton.onClick(function(){
          window.Telegram.WebApp.sendData(JSON.stringify($scope.foods));
        })
      });
    </script>
  </head>
  <body ng-controller="CustomUIController">
    <div ng-repeat="food in foods">
      <div style="width: 350px; font-size : 15px ; font-weight: bold;display: inline-block">{{food.name}} : {{food.value}}</div>
      <input style="display: inline-block ; width : 500px"; type="range" min="0" max="40"  ng-model="food.value" value="{{food.value}}">
    </div>
  </body>
</html>
