

<html ng-app="custom-webapp-ui" lang="fa" style="background-color: Red">
  <head>
    <meta charset="UTF-8">
    <!-- Load the Telegram Library -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!-- Load the AngularJS Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
      angular.module("custom-webapp-ui", []).controller('CustomUIController', function CustomUIController($scope) {
        $scope.foods = [
            { name: "سوپ ۳۰۰۰۰", value: 0 },
            { name: "خیارماست ۳۰۰۰۰", value: 0 },
            { name: "سالاد شیرازی ۳۰۰۰۰", value: 0 },
            { name: "سالاد فصل ۵۰۰۰۰", value: 0 },
            { name: "ماست موسیر ۲۵۰۰۰", value: 0 },
            { name: "ماست چکیده ۳۰۰۰۰", value: 0 },
            { name: "زیتون شور ۳۰۰۰۰", value: 0 },
            { name: "زیتون پرورده ۳۰۰۰۰", value: 0 },
            { name: "سینی سبزیجات ۴۵۰۰۰", value: 0 },
            { name: "آب دوغ خیار ۶۹۰۰۰", value: 0 }
        ];
        const mainButton = window.Telegram.WebApp.MainButton;
        mainButton.text = "ثبت سفارش و بازگشت به منوی اصلی";
        mainButton.fontsize= "50px";
        mainButton.enable();
        mainButton.show();
        mainButton.onClick(function(){
          window.Telegram.WebApp.sendData(JSON.stringify($scope.foods));
        });

        $scope.increaseValue = function(food) {
          if (food.value < 20) food.value++;
        };

        $scope.decreaseValue = function(food) {
          if (food.value > 0) food.value--;
        };
      });
    </script>
  </head>
  <body ng-controller="CustomUIController">
    <div ng-repeat="food in foods">
      <div style="width: 320px; font-size: 25px; font-weight: bold; color: white; display: inline-block">
        {{food.name}} : {{food.value}}
      </div>
      <button ng-click="decreaseValue(food)">-</button>
      <button ng-click="increaseValue(food)">+</button>
    </div>
  </body>
</html>
